/** Global **/
$font-size: 14px;


/** VcsTextfield **/

// height, size and padding
$text-field-padding: 2px 0 1px; //8px 0 8px !default;
$text-field-filled-full-width-outlined-slot-min-height: 32px; // 56px !default;
$text-field-filled-full-width-outlined-single-line-slot-min-height: 24px; //40px !default;
$text-field-solo-control-min-height: 30px; //48px !default;
$text-field-solo-dense-control-min-height: 22px; //38px !default;
$text-field-outlined-fieldset-border: 1px solid currentColor; // 2px solid currentColor !default;

// dense non outlined
$text-field-dense-padding: 2px 0px 1px; //4px 0 2px !default;

// input font and icon
$input-font-size: 14px;
$input-icon-height: 14px;

// clear icon non dense
$text-field-enclosed-prepend-append-margin-top: 9px;

// tooltip icon in append slot
$text-field-outlined-append-prepend-outer-margin-top: 4px; // 18px !default;
$text-field-append-prepend-margin: 0px; // 4px !default;
$text-field-outlined-prepend-append-margin-top: 4px; // 8px !default;

// label position for outlined Label dense and non-dense
$text-field-outlined-label-position-x: 6px;
$text-field-outlined-label-position-y: -14px;
$text-field-outlined-dense-label-position-x: 2px;
$text-field-outlined-dense-label-position-y: -10px;
$text-field-label-top: 2px; // 6px !default;
$text-field-label-active-transform: translateY(-14px) scale(.75); //translateY(-18px) scale(.75) !default;
